@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

    <div class="text-center">
        <h1 class="display-4">Welcome to The Life Time Talents </h1>
        <h2>Start using our talent service now!</h2>

        <div id="loader" class="loader loader-default is-active "></div>

        <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("CreateTalent", "Talents")'" style="margin:5px;">Create Talent +</button>
        </div>
        <br />

        <table id="TheTalentsTable" class="display">
            <thead>
                <tr>
                    <th>Talent Name</th>
                    <th>Image Profile</th>
                    <th>Talent Bio</th>
                    <th>Reknown</th>
                    <th>Short Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="update"></div>
        <div id="disqus_thread"></div>

        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>

@section Scripts {
    <script>
        loadTalents();

        function loadTalents() {
            $.ajax({
                method: 'GET',
                url: '/api/talents/',
                beforeSend: function () {
                    $("#loader").show();
                },
                //Exit Loader when request is complete
                complete: function () {
                    $("#loader").hide();
                },
                success: (function (data) {
                    var urlForCloudImage = "https://testbucketcscnew1.s3.amazonaws.com/";
                    $dataTable = $('#TheTalentsTable').DataTable({
                        data: data,
                        columns: [
                            { data: 'talentName' },
                            {
                                data: 'talentUrl',
                                "width": "3%",
                                "render": function (data, type, row, meta) {
                                    return '<img src=' + urlForCloudImage + data + ' />';
                                }
                            },
                            { data: 'talentBio' },
                            { data: 'talentReknown' },
                            { data: 'talentshortName' },
                            {
                                data: 'talentId',
                                "width": "3%",
                                "render": function (data, type, row, meta) {
                                    return '<a href="/Talents/UploadTalents/' + data + '" class="btn btn-success btn-lg" style="border-radius: 8px;" type="button" data-toggle="tooltip" data-placement="top" title="Upload Profile Picture"><i class="fa fa-upload "></i></a>';
                                }
                            },
                            {
                                "width": "3%",
                                data: 'talentId',
                                "render": function (data, type, row, meta, ) {
                                    return '<a href="/Talents/EditTalent/' + data + '" class="btn btn-info btn-lg" style="border-radius: 8px;" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pen"></i></a>';
                                }
                            },
                            {
                                "width": "3%",
                                data: 'talentId',
                                "render": function (data, type, row, meta) {
                                    return '<a class="btn btn-danger btn-lg" style="border-radius: 8px;" type="button" data-toggle="modal" data-target="#confirm-submit" title="Delete"><i class="fa fa-trash" style="color: white;"></i></a>'; //Jinwah
                                }
                            }
                        ],
                        "info": true,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        pageLength: 10
                    });
                })
            }); //End of ajax().done() method

            //$('#search').keyup(function () {
            //    //get data from Restful web Service in development environment
            //    var urlForJson = "https://localhost:44321/api/talents";

            //    //get data from Restful web Service in production environment
            //    //var urlForJson= "http://csc123.azurewebsites.net/api/talents";

            //    //Url for the Cloud image hosting
            //    var urlForCloudImage = "https://testbucketcscnew1.s3.amazonaws.com/";

            //    var searchField = $('#search').val();
            //    var myExp = new RegExp(searchField, "i");
            //    $.getJSON(urlForJson, function (data) {
            //        var output = '<ul class="searchresults">';
            //        $.each(data, function (key, val) {
            //            //for debug
            //            console.log(data);
            //            if ((val.talentName.search(myExp) != -1) ||
            //                (val.talentBio.search(myExp) != -1)) {
            //                output += '<li>';
            //                output += '<h2>' + val.talentName + '</h2>';
            //                //get the absolute path for local image
            //                //output += '<img src="images/'+ val.ShortName +'_tn.jpg" alt="'+ val.Name +'" />';

            //                //get the image from cloud hosting
            //                output += '<img src=' + urlForCloudImage + val.talentUrl+ ' />';
            //                output += '<p>' + val.talentBio + '</p>';
            //                output += '</li>';
            //            }
            //        });
            //        output += '</ul>';
            //        $('#update').html(output);
            //    }); //get JSON
            //});
        }


        //Disqus Integration
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        /*
        var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        };
        */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://cscassignment2-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
      
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
}

