<script src="https://js.stripe.com/v3/"></script>
<script src="~/js/script.js"></script>


<h2>Subscribe to The Life Time Talents!</h2>

<form action="/cart/Subscribe/" method="post" id="payment-form1">
    <button id="subscribeBtn">Subscribe</button>
</form>
<br />

<form action="/cart/Pause" method="post" id="payment-form2">
    <button id="btn2">Pause Subscription Plan</button>
</form>
<br />

<form action="/cart/Resume" method="post" id="payment-form3">
    <button id="btn3">Resume Subscription Plan</button>
</form>
<br />

<form action="/cart/Refund" method="post" id="payment-form4">
    <button id="btn4">Get Refund</button>
</form>
<br />

<form action="/cart/Cancel" method="post" id="payment-form5">
    <button id="btn5">Cancel Payment</button>
</form>

<br />
<form action="/cart/Invoice" method="get" id="payment-form6">
    <button id="invoiceBtn">Latest Invoice</button>

</form>

@section Scripts {
<script>
    //Declare a JavaScript constant, ID.
    //This JavaScript constant will contain the numeric id value
    //which will be extracted from the address bar.
    const ID = getIdFromAddressBar();

    //Declare a named function, getIdFromAddressBar
    function getIdFromAddressBar() {
        let urlArray = window.location.href.split('/');
        let id = urlArray[urlArray.length - 1];
        return id;
    };//End of getIdFromAddressBar

    //Function to append url for form actions
    $("#subscribeBtn").on("click", function () {
        $('#payment-form1').attr('action', '/Cart/Subscribe/' + ID).submit();
    });

    $("#invoiceBtn").on("click", function () {
        $('#payment-form6').attr('action', '/Cart/Invoice/' + ID).submit();
    });
</script>
}