@{
    ViewData["Title"] = "Home Page";
}
@using System.Security.Claims
@using CSCAssignment2.Services
@{/*http://www.binaryintellect.net/articles/17ee0ba2-99bb-47f0-ab18-f4fc32f476f8.aspx How to access DI service*/}
@{var identity = Context.User.Identity as ClaimsIdentity; }

    <div class="text-center">
        <h1 class="display-4">Welcome to The Life Time Talents </h1>
        <br />
        <br />
        @if (identity.IsAuthenticated)
        {
            <h1>Start using our talent service now!</h1>
            <h3>
                Welcome back @identity.FindFirst("fullName").Value
            </h3>
            <div id="loader" class="loader loader-default is-active "></div>

            <div class="text-right">
                <a href="/Cart/Index/@identity.FindFirst("userid").Value" type="button" class="btn btn-primary btn-lg" style="margin:5px;">Upgrade to Comment!<span></span></a>
                <button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("CreateTalent", "Talents")'" style="margin:5px;">Create Talent +</button>
            </div>
            <br />

            <table id="TheTalentsTable" class="display">
                <thead>
                    <tr>
                        <th>Talent Name</th>
                        <th>Image Profile</th>
                        <th>Talent Bio</th>
                        <th>Reknown</th>
                        <th>Short Name</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div id="update"></div>

            <div>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
            </div>
        }
        else
        {
            <h3>
                To start to edit, update, add or delete talents, please register/signup and login to your account.
                <br />
                For non registered users/not logged on users. You only have limited access.
            </h3>

            <br />

            <div id="loader" class="loader loader-default is-active "></div>
            <table id="WithoutLoginTable" class="display">
                <thead>
                    <tr>
                        <th>Talent Name</th>
                        <th>Image Profile</th>
                        <th>Talent Bio</th>
                        <th>Reknown</th>
                        <th>Short Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        }
    </div>

@section Scripts {
    <script>
        let deleteId = 0; // variable to store id for delete api url
        loadTalents();
        loadWithoutLogin();

        function loadTalents() {
            $.ajax({
                method: 'GET',
                url: '/api/talents/',
                beforeSend: function () {
                    $("#loader").show();
                },
                //Exit Loader when request is complete
                complete: function () {
                    $("#loader").hide();
                },
                success: (function (data) {
                    var urlForCloudImage = "https://testbucketcscnew1.s3.amazonaws.com/";
                    tableData = $('#TheTalentsTable').DataTable({
                        data: data,
                        columns: [
                            { data: 'talentName' },
                            {
                                data: 'talentUrl',
                                "width": "3%",
                                "render": function (data, type, row, meta) {
                                    return '<img src=' + urlForCloudImage + data + ' />';
                                }
                            },
                            { data: 'talentBio' },
                            { data: 'talentReknown' },
                            { data: 'talentshortName' },
                            {
                                data: 'talentId',
                                "width": "3%",
                                "render": function (data, type, row, meta) {
                                    return '<a href="/Talents/UploadTalents/' + data + '" class="btn btn-success btn-lg" style="border-radius: 8px;" type="button" data-toggle="tooltip" data-placement="top" title="Upload Profile Picture"><i class="fa fa-upload "></i></a>';
                                }
                            },
                            {
                                "width": "3%",
                                data: 'talentId',
                                "render": function (data, type, row, meta, ) {
                                    return '<a href="/Talents/UpdateTalent/' + data + '" class="btn btn-info btn-lg" style="border-radius: 8px;" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pen"></i></a>';
                                }
                            },
                            {
                                "width": "3%",
                                data: 'talentId',
                                "render": function (data, type, row, meta) {
                                    return '<a class="btn btn-danger btn-lg" style="border-radius: 8px;" type="button" onclick="deleteModal(' + data + ')" data-toggle="modal" data-target="#confirm-delete" title="Delete"><i class="fa fa-trash" style="color: white;"></i></a>'; //Jinwah
                                }
                            }
                        ],
                        "info": true,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        pageLength: 10
                    });
                })
            }); //End of ajax().done() method
        }//end of loadTalents

        function loadWithoutLogin() {
            $.ajax({
                method: 'GET',
                url: '/api/talents/',
                beforeSend: function () {
                    $("#loader").show();
                },
                //Exit Loader when request is complete
                complete: function () {
                    $("#loader").hide();
                },
                success: (function (data) {
                    var urlForCloudImage = "https://testbucketcscnew1.s3.amazonaws.com/";
                    tableData = $('#WithoutLoginTable').DataTable({
                        data: data,
                        columns: [
                            { data: 'talentName' },
                            {
                                data: 'talentUrl',
                                "width": "3%",
                                "render": function (data, type, row, meta) {
                                    return '<img src=' + urlForCloudImage + data + ' />';
                                }
                            },
                            { data: 'talentBio' },
                            { data: 'talentReknown' },
                            { data: 'talentshortName' }
                        ],
                        "info": true,
                        lengthMenu: [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                        pageLength: 10
                    });
                })
            }); //End of ajax().done() method
        }//end of loadTalents

        //Input data into deleteModal
        function deleteModal(ID) {
            deleteId = ID; // set deleteId to selected user's ID
            $.ajax({
                method: 'GET',
                url: '/API/Talents/GetTalent/' + ID,
            }).done(function (data) {
                $('#deleteModalName').text(data.name);
                $('#deleteModalShortName').text(data.shortName);
                $('#deleteModalBio').text(data.bio);
                $('#deleteModalReknown').text(data.reknown);
            });
        }//end of deleteModal

        $('#modalDeleteButton').on('click', function () {
            jQuery.ajax({
                method: 'DELETE',
                url: '/API/Talents/DeleteTalent/' + deleteId
            }).done(function (data) {
                alert(data.message)

                setTimeout(function () {
                    reloadTable(); //call function reloadTable() to reload the datatable after modifying the data
                }, 1000);
            }).fail(function (data) {
                if (data.responseJSON) {
                    alert(data.responseJSON.message);
                } else {
                    alert("Error");
                }
            });
        });//end of $('#deleteButton').on('click'. anonymous function)

        function reloadTable() {
            $("#table_id tbody tr").remove(); //Remove Client side HTML Data
            tableData.destroy(); //Destroy the initialized table, so a new one can be loaded
            loadTalents();  //reload the entire data
        }
    </script>
}


<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
